*{
    padding: 0%;
    margin:0%
}
header{
    background-color:antiquewhite;
    padding: 30px;
    text-align: center;    
}
header h1{
    font-size: 60px;
}

main .image figure img{
    width: 100%;
}
main .about1{
    background-color: chocolate;
    padding: 30px;
    text-align: center;
}
main .about2{
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
}
main .about .container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
main .about h2{
    font-size: 36px;
    margin-bottom: 20px;
}
ul{
    list-style: none;
  }
footer{
    background-color: chocolate;
}
footer h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
footer table{
    margin: 0 auto;
}
footer table td{
    padding:10px 20px;
}
button{
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 30px;
}